.begin {
  display: flex;
  flex-direction: column;
  height: 1000px;
  position: relative;
  background: linear-gradient(to right, #6bbeca, #0e8ab9);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 74%);
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 540px;
  margin: 30px 250px;
}

.main_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 75px;
}

.title {
  font-size: 80px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about {
  width: 100%;
  max-width: 1920px;
  height: 400px;
  position: relative;
  margin: 100px auto;
}

.about_image {
  position: absolute;
  left: 7.81%;
  width: 540px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about_image img {
  width: 466.36px;
  height: 332px;
  object-fit: contain;
}

.about_text {
  position: absolute;
  left: 35.94%;
  width: 56.25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

.about_info {
  width: 870px;
  max-width: 80%;
  margin-top: 63px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}

.about_break {
  display: block;
  height: 0;
  margin-bottom: 1.4em;
  content: "";
}

.devs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.devs_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

.devs_team {
  width: 84.375%;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 30.8641975% 30.8641975% 30.8641975%;
  gap: 50px;
}

/* =====================================================
   RESPONSIVIDADE
   Breakpoints oficiais do projeto
===================================================== */

/* =======================
   TABLET (<= 1279px)
======================= */
@media (max-width: 1279px) {
  /* Hero */
  /* Sobre */
  /* Desenvolvedores */
  /* Footer */
}

/* =======================
   MOBILE (<= 767px)
======================= */
@media (max-width: 767px) {
  /* Hero */
  /* Sobre */
  /* Desenvolvedores */
  /* Footer */
}
